services:
    nginx:
      image: nginx:alpine
      ports:
      - "80:80"
      volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      depends_on:
      - php
      restart: unless-stopped
    mysql:
      image: mysql:9.1
      environment:
       MYSQL_DATABASE: ${MYSQL_DATABASE}
       MYSQL_USER: ${MYSQL_USER}
       MYSQL_PASSWORD: ${MYSQL_PASSWORD}
       MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      volumes:
       - ./mysql/mysql_data:/var/lib/mysql
       - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      healthcheck: 
       test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p${MYSQL_ROOT_PASSWORD}"]
       interval: 10s
       retries: 10
      restart: unless-stopped
    php:
      build: ./php
      restart: unless-stopped
      environment:
       MYSQL_HOST: ${MYSQL_HOST}
       MYSQL_DATABASE: ${MYSQL_DATABASE}
       MYSQL_USER: ${MYSQL_USER}
       MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      

volumes:
 mysql_data: